<%= bootstrap_form_for(@language, label_errors: true) do |f| %>
    <%= f.alert_message "Please fix the errors below." %>
    <%= f.text_field :langname, 
                     autofocus: true, 
                     required: true,
                     placeholder: "Example: English",
                     label: "Language Name" %>
    <%= f.text_field :langcode, 
                     required: true, 
                     placeholder: "Example: en",
                     label: "Language Code" %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
