<p id="notice"><%= notice %></p>

<div id="languages_header">
  <h2>Languages</h2>
  <%= link_to 'Add a New Language', new_language_path %>
</div>
<div id="languages_welcome_text">
  <p>
    Here is a list of all the languages your database supports.
  </p>
  <p>
    When you add new strings you will see an entry for each of these
    languages for you to proivde a translation. If your never translate
    your application or document into one of these languages feel free to
    delete it to have it removed from the new/edit word or phrase form.
  </p>
  <p> 
    <strong>Be carful however as deleting a language will purge any 
    translation in said language from your database</strong>.
  </p>
</div>

<hr />

<table>
  <thead>
    <tr>
      <th>Lang</th>
      <th>Langcode</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @languages.each do |language| %>
      <tr>
        <td><%= language.langname %></td>
        <td><%= language.langcode %></td>
        <td><%= link_to 'Edit', edit_language_path(language) %></td>
        <td><%= link_to 'Destroy', language, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>