<%= bootstrap_form_for(@root_string, label_errors: true) do |f| %>
    <%= f.alert_message "Please fix the errors below." %>
    <%= f.text_field :string, :autofocus=>true, :required=>true, :label=>"Word or Phrase" %>
    <%= f.text_field :comment, maxlength: "255" %>

    <%= f.fields_for :translated_strings do |translated_string| %>
      <%= translated_string.hidden_field :language_id %>
      <%= translated_string.hidden_field :id %>
      <%= translated_string.text_field :translation, oninput: "", label: "#{translated_string.object.language.langname} Translation" %>
      <%= translated_string.text_field :comment, maxlength: "255", label: "#{translated_string.object.language.langname} Translator Comments" %>
    <% end %>

    <div class="actions">
      <%= f.submit "Save" %>
    </div>
<% end %>
