<p id="notice"><%= notice %></p>

<h2>Translated Strings</h2>
<div id="welcome">
  <div>
    <p>
      Here you will find all the stings which we have already translated.
      Select one that is closest to the one you need and see if it has
      existing translations for you to use.
    </p>
  </div>
  <div>
    <p>
      If the string you need does not exist please add it to the database
      when you have translations for it.
    </p>
    <%= link_to 'Add New String', new_root_string_path %>
  </div>
  <div style="clear: both;"></div>
</div>
<hr />
<% if @root_strings.count > 0 %>
<div id="strings">
  <% @root_strings.each do |root_string| %>
    <div class="string_card">
      <p><%= link_to root_string.string, root_string %></p>
      <% unless root_string.comment.blank? and root_string.translated_string.count == 0 %>
      <hr/>
      <% end %>
      <% unless root_string.comment.blank? %>
      <p><label>Comment:</label> <%= root_string.comment %></p>
      <% end %>
      <% root_string.translated_string.each do |translated_string| %>
        <span><%= translated_string.language.langname %></span>
      <% end %>
    </div>
  <% end %>
  <% else %>
    <div id="no_strings_message">
      <div>
        <%= image_tag 'logo.png', size: "100", id: 'no_strings_message_logo_img' %>
      </div>
      <div>
        <h3>No translated strings exist yet</h3>
        <p>Feel free to start adding any strings you have translations for.</p>
        <%= link_to 'Add New String', new_root_string_path %>
      </div>
      <div style="clear: both;"></div>
    </div>
  <% end %>
</div>