<p id="notice"><%= notice %></p>

<div id="string_details">
	<div>
		<div>
			<strong>Source Text</strong>
		</div>
		<div>
			<%= link_to 'Edit', edit_root_string_path(@root_string) %> |
			<%= link_to 'Delete', @root_string, method: :delete, data: { confirm: "Are you sure?\nThis will delete all translations for this string." } %> |
			<%= link_to 'Back', root_strings_path %>
		</div>
	</div>
	<p>
	  <%= @root_string.string %>
	</p>

	<% unless @root_string.comment.blank? %>
   	    <strong>Comment</strong>
		<p id="context">
		  <%= @root_string.comment %>
		</p>
	<% end %>

	<% unless @root_string.translated_strings.count > 0 %>
		<div>
			<p>
				There are no translations for this string.  <%= link_to 'Would you care to add any?', edit_root_string_path(@root_string) %>
			</p>
		</div>
	<% end %>

	<% @root_string.translated_strings.each do |translated_string| %>
        <strong><%= translated_string.language.langname %> translation</strong>
        <p>
        	<%= translated_string.translation %>
        </p> 
        <% unless translated_string.comment.blank? %>
	        <strong><%= translated_string.language.langname %> translator comments</strong>
	        <p>
	        	<%= translated_string.comment %>
	        </p>
        <% end %>
     <% end %>
</div>