<% unless flash.empty? %>
  <% flash.each do |level, msg| %>
    <%= content_tag :p, msg, class: "alert alert-#{level}" %>
  <% end %>
<% end %>

<div id="string_details">
	<div>
		<div>
			<h2>Source Text</h2>
		</div>
		<div>
			<%= link_to 'Edit', edit_root_string_path(@root_string) %>
			<%= link_to 'Delete', @root_string, method: :delete, data: { confirm: "Are you sure?\nThis will delete all translations for this string." } %>
		</div>
	</div>
	<p>
	  <%= @root_string.string %>
	</p>

	<% unless @root_string.comment.blank? %>
   	    <strong>Comment</strong>
		<p id="context">
		  <em><%= @root_string.comment %></em>
		</p>
	<% end %>

	<% unless @root_string.translated_strings.count > 0 %>
		<div id="no_translations">
			<p>There are no translations for this phrase.</p>
			<%= link_to 'Would you care to add any?', edit_root_string_path(@root_string) %>
		</div>
	<% end %>

	<div id="phrase_translations">
	<% @root_string.translated_strings.each do |translated_string| %>
		<div>
			<strong><%= translated_string.language.langname %> translation</strong>
			<p>
				<%= translated_string.translation %>
			</p> 
			<% unless translated_string.comment.blank? %>
				<strong><%= translated_string.language.langname %> translator comments</strong>
				<p>
					<%= translated_string.comment %>
				</p>
			<% end %>
		</div>
     <% end %>
	 </div>
</div>