<!DOCTYPE html>
<html>
	<head>
	  <title>L10n</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width = device-width, initial-scale = 1">
	  <link rel='stylesheet' id='droid-serif-css'  href='http://fonts.googleapis.com/css?family=Droid+Serif%3A400%2C700%2C400italic%2C700italic&#038;ver=3.9.1' type='text/css' media='all' />
	</head>
	<body>
		<div id="container">
			<div id="header">
				<div id="logo">
					<%= image_tag 'logo-inverted.png', size: "50", id: 'logo_img' %>
					<h1><%= link_to "L10n", root_path %> </h1>
				</div>
				<div>
					<%= form_tag("#{root_strings_path}/search", action: "index", :method => "get", id: "search-form") do %>
						<%= text_field_tag :search, params[:search], placeholder: "Search" %>
						<span><button type="submit" name="commit" value="Search"><i></i></button></span>
					<% end %>
				</div>
			</div>
			<div id="main">
				<div id="main_column">
					<%= yield %>
				</div>
			</div>
			<div id="footer">
				<div class="container">
					<div class="row">
						<div class="col-md-2">
							<%= image_tag 'logo-inverted.png', size: "50", id: 'logo_img' %>
							<h3><%= link_to "L10n", root_path %> </h3>
						</div>
						<div class="col-md-10">
							<p id="footer_tag_line">
								An on premises web application that allows you to store and search for known good string translations that you organization has already translated.
							</p>
						</div>
					</div>
					<div id="copy_write">
						<p>&copy; Copyright <%= Date.today.year %> <a href="http://bradvanderlaan.ca">Brad van der Laan</a></p>
					</div>
				</div>
			</div>
		</div>
		<script>
			var clipboard = new Clipboard('.copy-btn');

			clipboard.on('error', function(e) {
				console.log(e);
			});
		</script>
		<script>
			$(document).ready(function(){
				$('[data-toggle="tooltip"]').tooltip();

				 $(".copy-btn").click(function(){
					 $(this).tooltip('hide');
				}); 
			});
		</script>
	</body>
</html>
