<!DOCTYPE html>
<html>
	<head>
	  <title>L10n</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<div id="header">
			<div id="logo">
				<%= image_tag 'logo-inverted.png', size: "50", id: 'logo_img' %>
				<h1><%= link_to "L10n", root_path %> </h1>
				<div style="clear: both;"></div>
			</div>
			<div style="clear: both;"></div>
		</div>
		<div id="main">
			<%= yield %>
		</div>
	</body>
</html>
